@import "variables";
@import "mixins";

.container-card {
  margin: 12px;
  display: block;
  float: left;
  width: calc(100% - 24px);

  .card {
    background-color: $white;
    float: left;
    height: 100%;
    min-height: 120px;
    width: calc(33.33% - 48px);
    padding: 12px;
    margin: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    @media screen and (max-width: 740px) {
      width: calc(50% - 48px);
    }
    @media screen and (max-width: 480px) {
      width: calc(100% - 48px);
      display: block;
      clear: both;
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    h4 {
      margin: 7px 0 20px 0;
    }
    p {
      margin: 8px 0;

      &.tags {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
    ul {
      margin-bottom: 12px;

      li {
        @include tag;
      }
    }
    .tooltip {
      @include toolTip;

      i {
        display: block;
        background: lightgrey;
        padding: 7px 7px 7px 7px;
        border-radius: 50%;
      }
    }
    button {
      @include buttonSecondary;
    }
    .row {
      display: block;
      overflow: hidden;

      i {
        float: left;
        cursor: pointer;

        &:last-child {
          float: right;
        }
      }
    }
  }
}