@import "variables";
@import "mixins";

.modal {
  padding: 20px;
  z-index: 10;
  position: relative;

  &.modal-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
  &.modal-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .modal-container {
    display: block;
    padding: 12px;
    max-width: 400px;
    margin: auto;
    background-color: $white;
    position: relative;
    @include dropShadow;

    h4 {
      margin-bottom: 16px;
    }
    input, textarea {
      @include textField;
    }
    textarea {
      height: 80px;
      resize: none;
      padding: 8px;
      text-indent: 0;
      width: calc(100% - 16px);
    }
    select {
      @include select;
    }
    button {
      @include button;
    }
    header, footer, .row, ul {
      padding: 12px 0;
    }
    .row {
      display: block;
    }
    ul {
      li {
        @include tag;
      }
    }
    .btn-row {
      button {
        float: right !important;

        &:first-child {
          @include button;
        }
        &:last-child {
          margin-right: 10px;
          @include buttonSecondary;
        }
      }
    }
    footer, .btn-row {
      overflow: hidden;
      display: block;
    }
    footer{
      button {
        float: left;

        &:first-child {
         @include buttonSecondary;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
  .modal-overall {
    background-color: $black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}