@import "variables";

.navbar {
  float: left;
  border-bottom: $darkGrey;
  background-color: $white;
  width: 100%;
  padding: 25px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  h4 {
    float: left;
    padding-left: 25px;
  }
  ul {
    float: right;
    padding-right: 25px;

    li {
      padding-left: 12px;
      display: inline-block;

      i {
        cursor: pointer;
        color: $black;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}