@import "variables";
.toolbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: z-index 0s 0.5s, opacity 0.5s linear;

  &.visible {
    z-index: 1;
  }
}

.toolbar {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: $primary;
  text-align: center;
  //border-radius: 50%;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    cursor: pointer;
    background-color: $primaryLight;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  i {
    color: $white;
    font-size: 24px;
  }

  &.toolbar-add {
    .icon-plus {
      display: block;
    }
    .icon-trash {
      display: none;
    }
  }
  &.toolbar-delete {
    .icon-plus {
      display: none;
    }
    .icon-trash {
      display: block;
    }
  }
}