@import "variables";

html {
  background-color: $lightGrey;
  font-family: $bodyFont;
  //font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bodyFont;
  //font-weight: 300;
}

p, a, button, li, span {
  font-family: $bodyFont;
  //font-weight: 300;
}