
@mixin dropShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin textField {
  background-color: $lightGrey;
  font-family: $bodyFont;
  outline: none;
  width: 100%;
  margin-bottom: 8px;
  border: 0;
  border-bottom: 2px solid $grey;
  color: $darkGrey;
  padding: 8px 0;
  text-indent: 8px;
  display: block;
}

@mixin select {
  @include textField;
  height: 30px;
  text-indent: 8px;
  font-family: $bodyFont;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-image:
          linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
          calc(100% - 15px) calc(12px),
          calc(100% - 10px) calc(12px),
          calc(100% - 2.5em) 0.5em;
  background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
  background-repeat: no-repeat;
}

@mixin button {
  outline: none;
  border-radius: 0;
  background-color: $primary;
  color: $white;
  transition: 0.5s ease;
  padding: 4px 12px;
  border: 2px solid $primary;
  line-height: 1.5;
  font-family: $bodyFont;
  cursor: pointer;

  &:hover {
    border: 2px solid $primaryLight;
    background-color: $primaryLight;
  }
  &:focus {
    outline: none;
  }
}

@mixin buttonSecondary {
  transition: 0.5s ease;
  border: 2px solid $grey;
  background-color: $grey;
  color: $black;
  cursor: pointer;

  &:hover {
    border: 2px solid $lightGrey;
    background-color: $lightGrey;
    color: $black;
  }
  &:focus {
    outline: none;
  }
}

@mixin tag {
  font-size: 12px;
  padding: 8px 12px;
  color: $darkGrey;
  border: 2px solid $grey;
  border-radius: 25px;
  display: inline-block;
  margin: 5px 10px 5px 0;
  min-width: 35px;
  text-align: center;
}

@mixin toolTip {
  float: right;
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px 9px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 37px;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.3s;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #555;
    }
  }
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}