// colors
$black: #212121;
$grey: #CCCCCC;
$darkGrey: #37474f;
$lightGrey: #e2e1e0;
$primary: #333333;
$primaryDark: #000000;
$primaryLight: #555555;
$white: #FFFFFF;

// fonts
$bodyFont: 'Montserrat', sans-serif;

